.about-us-bg {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/about-bg.jpg) fixed center center;
  
  }
.mail-div {
    font-size: 20px;
} 

.flag img{
  max-width: 30px;
}

.round-img_div img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}